.clearfix:before,.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}
*,*:before,*:after{
	box-sizing: border-box;
}
.font{
	font-family: 'Nanum Gothic', sans-serif;
}
/*SECTION-1*/
.section1{
	background-color: #56CECF;
}
.box1{
	color: white;
	font-size: 40px;
	text-align: center;
	padding: 5%;
}
.span{
	font-weight: bold;
}
.box2{
	border: 1px solid white;
	margin-top: 5%;
	margin-bottom: 10px;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
	width: 40%;
	margin-left: 30%;
}
.para{
	font-size: 25px;
}
.box3{
	background-color: #3E9B9D;
	text-align: center;
	display: inline-block;
	padding: 20px;
	margin-left: 45%;
	margin-bottom: 8%;
}
/*SECTION-2*/
.section2{
	padding-top: 8%;
	padding-bottom: 8%;
}
.wrapper{
	margin: 0 auto;
	max-width: 1100px;
	text-align: center;
}
.h2{
	text-align: center;
	font-size: 30px;
}
.hr{
	border: 0.5px solid grey;
	width: 35%;
}
.box4{
	float: left;
	width: 33%;
	display: inline-block;
	text-align: center;
	border: .5px solid grey;
	padding-top: 20px;
	padding-bottom: 20px;
}
.box5{
	margin-left: 20%;
}
.far{
	font-size: 50px;
	padding: 10px;
	color: #56CECF;

}
.fab{
	font-size: 50px;
	padding: 10px;
	color: #56CECF;
}
/*SECTION-3*/
.section3{
	background-color: #F7F7F7;
	padding-top: 8%;
	padding-bottom: 8%;
}
.div2{
	font-size: 20px;
	color: black;
	float: left;
	padding-top: 10px;
	margin-left: 30%;
}
.div3{
	padding-top: 10px;
	font-size: 20px;
	color: black;
	float: right;
	margin-right: 30%;
}
.div4{
	float: left;
	height: 50px;
	width: 310px;
	background-color: white;
	border-color: 1px solid red;
	margin-left: 18%;
	margin-top: 5px;
}
.div5{
	float: right;
	height: 50px;
	width: 310px;
	background-color: white;
	border-color: 1px solid red;
	margin-right: 18%;
	margin-top: 5px;
}
.div6{
	margin-top: 20px;
	color: black;
	font-size: 20px;
	text-align: center;
}
.div7{
	margin-left: 25%;
	margin-top: 10px;
	height: 200px;
	width: 680px;
	background-color: white;
}
.footer{
	background-color: #F7F7F7;
	padding-top: 8%;
	padding-bottom: 8%;
	text-align: center;
}