*,*:before,*:after{
	box-sizing: border-box;

}
.clearfix:before,.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}
.wrapper{
	max-width: 1200px;
	margin: 0 auto;
}
.h1{
	text-align: center;
	font-size: 50px;
	padding: 2.15%;
}
.div1{
	float: left;
	width: 25%;
	padding: 5%;
}
.div2{
	float: left;
	width: 50%;
	padding: 2%;
}
.h2{
	font-size: 30px;
}
.image{
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}
body{
	background-color: #EFEFEF;
}
div{
	background-color: #FEFEFE;
}