h1{
	text-align: center;
	color:red;
	text-decoration:underline;
}
p{
	color:white;
	background-color: black;
}
p1{
	color:blur;
	background-color: yellow;
}
p2{
	color:blue;
	background-color: pink;
}
nav{
	text-align:center;
}